.Find-us{
    margin: 0 80px;
    padding-top: 80px;
}
.Find-us > p{
    display: inline-block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    margin: 0;
    color: #A00500;
}
.locations-images{
    display: flex;
    margin:25px 0;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
}
::-webkit-scrollbar { display: none !important; }
.places{
    font-family: Open Sans;
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    margin: 0 25px;
} 
.places img{
    width: 140px;
}
.places > p{
    margin: 0;
    text-align: center;
}
@media(max-width:1023px){
    .Find-us{
        margin: 0 20px;
        padding-top: 45px;
    }
    .Find-us > p{
        font-size: 25px;
    }
    .places{
        font-size: 15px;
        text-align: center;
    }
    .places img{
        width: 90px;
    }
}