.premium_user{
    text-align: center;
    padding: 20px;
}
.premium_user > img{
    width: 34%;
}
.get_help{
    padding: 10px 25px;
    border-radius: 14px;
    border: none;
    background: #a00500;
    color: white;
    font-weight: 600;
}
@media(max-width:1023px){
    .premium_user > img{
        width: 100%;
    }
}