.blogs{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 30px 15px;
    padding-bottom: 80px;
}
.blogs h2{
    padding: 14px;
}
@media(max-width:1023px){
    .blogs{
        display: block;
    }
}