.favouritestays,.furnishing_status,.homes_for_everyone,.quickstay_promise{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 30px 15px;
}

.template > div{
    text-align: center;
}
.template > div img{
    width: 75%;
}
.custom_box-template > .template > div img{
    width: 65%;
}
@media(max-width:1023px){
    .favouritestays,.furnishing_status,.homes_for_everyone,.quickstay_promise{
        display: block;
    }
    .template > div img{
        width: 100%;
    }
    .custom_box-template > .template > div img{
        width: 90%;
    }
}