.favouritestays{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 30px 15px;
}
.template > div{
    text-align: center;
}
.template > div img{
    width: 75%;
}
@media(max-width:1023px){
    .favouritestays{
        display: block;
    }
    .template > div img{
        width: 100%;
    }
}