.favouritestays{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 30px 15px;
}
.template > div{
    text-align: center;
}
.template > div img{
    width: 75%;
}
@media(max-width:1023px){
    .template > div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .template > div img{
        width: 50%;
    }
}