.DetailsTemplatecontainer p{
    font-weight: 600;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 25px;
}
.DetailsTemplate{
    display: grid;
    grid-template-columns: repeat(5,auto);
    row-gap: 15px;
}
.DetailsTemplate > div{
    text-align: center;
    align-self: end;
}
.DetailsTemplate > div p{
    margin: 0;
    font-weight: normal;
    font-size: 14px;
}
@media(max-width:1023px){
    .DetailsTemplatecontainer{
        padding: 0 10px;
    }
    .DetailsTemplatecontainer p{
        margin-top: 45px;
        margin-bottom: 20px;
    }
    .DetailsTemplate{
        grid-template-columns: repeat(4,auto);
        column-gap: 15px;
    }
}