.concat-box{
    padding: 30px 0;
}
.concat-box > p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding-left: 130px;
}
.popular-searches-container{
    display: flex;
    justify-content: space-around;
}
.pop-container > a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    line-height: 22px;
    text-decoration: none;
    color: #000000;
    display: block;
}
@media(max-width:1023px){
    .popular-searches-container{
        display: flex;
        flex-direction: column;
    }
    .concat-box > p{
        padding: 0;
        text-align: center;
    }
    .pop-container{
        margin-bottom: 20px;
        text-align: center;
    }
}