
.get-to-know{
    display: flex;
    background-color: #A00500;
    justify-content: space-around;
    padding: 30px 0;
}
.are-you_owner{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #FFDE17;
}
.are-you_owner p{
    margin: 0;
}
.are-you_owner button{
    user-select: auto;
    border: 2px solid #FFFFFF;
    background: #A00500;
    padding: 5px 20px;
    color: #FFFFFF;
    font-size: 18px;
}
.are-you_owner a:-webkit-any-link{
    color:white;
    text-decoration: none;
}

.get-to-know > div:nth-child(2) > p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}
.get-to-know-row{
    justify-content: space-between;
    display: flex;
    width: 63%; 
}
@media(max-width:1023px){
    .get-to-know{
       flex-direction: column;
       padding: 30px 20px;
    }
    .get-to-know-row{
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
    }
   .get-to-know-row p {
        font-size: 24px!important;
        max-width: 100%;
        padding: .75rem;
        border: 0;
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 0;  
        text-align: start!important;
        max-width: 80%;
        margin-bottom: 0;
   }
    .are-you_owner{
        font-size: 24px;
    }
    .are-you_owner button{
        font-size: 14px;
        margin-top: 10px;
    }
}