.login{
    font-family: Open Sans;
    font-style: normal;
    color: #000000;
    margin-top: 120px;
    margin-bottom: 50px;
}
.head{
    text-align: center;
}
.head p{
    font-weight: bold;
    font-size: 26px;
    margin: 0;
}
.head p:nth-child(2){
    color: #A00500;
}
.lottie-container{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.lottie-container svg{
    width: 70% !important;
    height: 70% !important;
}
.input-container{
    text-align: center;
}
.input-container.invalid input{ 
    border-color: red;
}
.input-container p{
    margin: 0;
}
.input-container p:nth-child(1){
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 7px;
}
.input-container p:nth-child(2){
    font-weight: normal;
    font-size: 18px;
}
.input-container > input{
    display: block;
    text-align: center;
    border: 3px solid #FFDE17;
    box-sizing: border-box;
    border-radius: 40px;
    width: 33%;
    padding: 14px 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    margin-top: 31px;
}

.otp-container > input{
    text-align: center;
    display: inline;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 3.5%;
    font-size: 20px;
}
.otp-container > input:not(:last-child){
    margin-right: 15px;
}
.edit-method > a{
    color: #00C2FF;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}
.edit-method{
    display: flex;
    justify-content: space-between;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
@media(max-width:1023px){
    .input-container input{
        width: 75%;
        font-size: 16px;
    }
    .lottie-container{
        width: inherit;
    }
    .otp-container{
        display: flex;
        width: 68%;
        margin-left: auto;
        margin-right: auto;
    }
    .edit-method{
        width: 78%;
    }
}