.offer{
    padding: 30px 30px;
}
.offer > div div img{
    width: 100%;
    border-radius: 15px;
}


@media(min-width:1024px){
    .offer > div:nth-child(1){
        display: flex;
    }
    .offer > div:nth-child(2){
        display: none;
    }
    .offer > div a:not(:last-child){
        padding-right: 18px;
    }
}

@media(max-width:1023px){
    .offer{
        padding: 30px 20px;
        padding-bottom: 0;
    }
    .offer > div div img{
        width: 300px;
        border-radius: 15px;
    }
    .offer > div:nth-child(1){
        display: flex;
        column-gap: 10px;
        overflow-x: auto;
    }
}