.hero-container{
    padding: 160px 116px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container > div{
    width: 100%;
}
.hero-container h2{
    color: #000000;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 32px;
    margin: 0;
    margin-bottom: 5px;
}
.achievements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding-bottom: 22px;
    margin: 0 65px;
}
.achievement{
    color: #FFFF;
    font-family: 'Open Sans';
    font-weight: 600;
    text-align: center;
}
.achievement p:nth-child(1){
    font-size: 24px;
}
.achievement p:nth-child(2){
    font-size: 18px;
}
.achievement p{
    margin: 0;
}
.search-bar-container{
    padding: 30px 50px;
    position: relative;
    margin: 20px 0;
}
.search-bar-container::before{
    content: "";
    background-color: black;
    position: absolute;
    opacity: 0.5;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}   
.searchbar{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;;
    position: relative;
}
.searchbar select{
    background: #E8E8E8;
    font-family: 'Open Sans';
    font-size: 16px;
}
.searchbar button{
    padding: 10px 40px;
    color: #FFF;
    border: none;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    background-color: #A00500;
}
.searchbar select{
    padding: 10px;
    border: none;
}
.searchbar input{
    padding: 10px 20px;
    border: none;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
}
input[placeholder]{
    text-overflow:ellipsis;
}
.second-searchbar{
    text-align: center;
}
.second-searchbar > div{
    display: inline-block;
    position: relative;
    width: 50%;
}
.second-searchbar input{
    width: 90%;
    background-color: #FFF;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
}
.circle{
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 8px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #FFDE17;
    display: flex;
    justify-content: center;
    align-items: center;
}




 /* mobile  */
@media(max-width:1023px){
    .hero-container{
     padding: 75px 30px;
    }
    .hero-container h2{
        font-size: 20px;
    }
    .achievements {
        flex-direction: column;
        margin: 0;
    }
    .achievement{
        margin: 10px;
    }
    .searchbar{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .searchbar select,.searchbar input{
        margin-bottom: 10px;
    }
    .second-searchbar input{
        padding: 15px 40px;
        width: auto;
    }
    .second-searchbar > div{
        width: auto;
    }
 }