.hero-container{
    padding: 170px 116px 50px 116px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container > div{
    width: 100%;
}
.hero-container h2{
    color: #000000;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 32px;
    margin: 0;
    margin-bottom: 5px;
}
.achievements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding-bottom: 22px;
    margin: 0 65px;
}
.achievement{
    color: #FFFF;
    font-family: 'Open Sans';
    font-weight: 600;
    text-align: center;
}
.achievement p:nth-child(1){
    font-size: 24px;
}
.achievement p:nth-child(2){
    font-size: 18px;
}
.achievement p{
    margin: 0;
}
.search-bar-container{
    padding: 30px 50px;
    position: relative;
    margin: 20px 0;
}
.search-bar-container::before{
    content: "";
    background-color: black;
    position: absolute;
    opacity: 0.5;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}   
.searchbar{
    display: grid;
    grid-template-columns: 4fr 1fr;;
    position: relative;
}

.searchbar button{
    padding: 10px 40px;
    color: #FFF;
    border: none;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    background-color: #A00500;
}
.searchbar input{
    padding: 10px 20px;
    border: none;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    box-shadow: 0px 0.1px 4px rgb(0 0 0 / 25%);
}
input[placeholder]{
    text-overflow:ellipsis;
}
.search_icon{
    display: none;
}
.second-searchbar{
    text-align: center;
}
.second-searchbar > div{
    display: inline-block;
    position: relative;
    width: 50%;
}
.second-searchbar button{
    width: 100%;
    text-align: start;
    background-color: #FFF;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
}
.circle{
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 8px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #FFDE17;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-searchbar button:nth-child(2){
    display: none;
}



 /* mobile  */
@media(max-width:1023px){
    .hero{
        background-position: center center!important;
        background-repeat: no-repeat!important;
        background-attachment: unset!important;
    }
    .hero-container{
     padding: 75px 30px;
     padding-top: 110px;
     padding-bottom: 55px;
    }
    .hero-container h2{
        font-size: 20px;
    }
    .achievements {
       display: none;
    }
    .achievement{
        margin: 10px;
    }
    .searchbar{
        display: flex;
        text-align: center;
        align-items: center;
    }
    .searchbar select{
        display: none;
    }
    .search-bar-container{
        padding: 0;
    }
    .search-bar-container::before{
        background-color: transparent;
    }
    .searchbar input{
        width: 100%;
        font-size: 16px;
    }
    .search_icon{
        display: inline-block;
    }
    .search_text{
        display: none;
    }
    .searchbar input,.searchbar button{
       padding: 7px;
    }
    .searchbar button{
        padding: 7px 13px;
    }
    .second-searchbar button:nth-child(1){
        display: none;
    }
    .second-searchbar button:nth-child(2){
        display: inline-block;
        padding: 10px 50px;
        padding-left: 20px;
        width: auto;
    }
    .second-searchbar > div{
        width: auto;
    }
    .circle{
        top: 3px;
    }
 }