.how-it-works{
    font-family: Open Sans;
    font-style: normal;
}
.how-it-works > p{
    font-weight: 600;
    font-size: 22px;
}
.howWorksCard{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    font-weight: 600;
    font-size: 14px;
}
@media(max-width:1023px){
    .howWorksCard{
        display: flex;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        column-gap: 5px;
    }
}