.how-it-works-card{
    display: grid;
    grid-template-columns: auto auto;
    padding: 14px;
    border: 3px solid #A00500;
    box-sizing: border-box;
    border-radius: 50px;
}
.how-it-works-card > p{
    padding-left: 15px;
    align-self: center;
}
.dotted{
    border: 1px dashed #A00500;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dotted-inner{
    font-size: 32px;
    background: #A00500;
    color: #FFFFFF;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}
@media(max-width:1023px){
    .how-it-works-card{
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 95%;
      padding: 0;
      align-items: center;
      padding: 5px;
    }
    .how-it-works-card p{
        font-size: 12px;
        padding-left: 8px;
    }
    .dotted{
        width: 65px;
        height: 65px;
    }
    .dotted-inner{
        width: 50px;
        height: 50px;
    }
}