.heroSection{
    height: 100vh;
    background-image: url('../../WebsiteMaterial/AboutImages/Global.png');
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position-x: right;
    
}

.heroText{
    margin-top:80px;
    margin-left:100px;
    padding-top: 20px;
}
.heroText span{
    font-size:37px;
    font-weight: 600;
}
.heroText p {
    font-size:22px;
    font-weight: 600;
    margin-top:25px;
}
.aboutUsBgImage{
    background-image: url('../../WebsiteMaterial/AboutImages/Photo.jpeg');
    background-size:100vw;
    background-repeat: no-repeat;
}
.aboutUsContainer{
    padding-top: 6.75%;
    padding-bottom: 6.75%;
}

.aboutUsTextContainer{
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    top: 10%;
    margin-right:0px;
    margin-left:auto;
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.8);
}

.aboutUsText{
    color: rgb(0, 0, 0);
    font-size: 1.3vw;
    margin: auto 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    text-align: right;
    position: relative;
    line-height: 3vw;
}
.aboutUsText p span{
    color:#A00500;
}

.ourDream h1:nth-child(1){
    text-align: start;
    font-style: italic;
    border-left: 12px solid #FFDE17;
    padding-left: 40px;
    margin: 80px 0px 80px 90px;
}
.ourDream h1:nth-child(2){
    color:#A00500;
    text-align: center;
    
}
.ourDream p{
    font-size: 25px;
    margin-top: -20px;
    margin-bottom: 65px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    
}

.ourDreamImages{
    display: flex;
    justify-content: space-evenly;
}

.ourDreamImg img{
    width: 380px;
}
.ourDreamImg div{
    font-size:18px;
    text-align: center;
    margin-bottom: -80px;
}

.figuresContainer{
    width: 100vw;
    background-color:#A00500;
}
.figure{
    text-align: center;
    padding: 35px 0px;
}
.figure p{
    font-size:27px;
    color: white;
    font-weight: 800;
    margin: 0;
}
.figure span{
    font-size: 18px;
    font-weight: 600;
    color:#FFDE17;
}

.becomeFamilyContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.becomeFamilyHead{
    font-size:25px;
    font-weight: 600;
    width: 15vw;
    margin-top: 5vh;
}

.becomeFamilyText{
    font-weight: 600;
}
.becomeFamilyText > p{
    line-height: 25px;
}
.becomeFamilyText a{
    color:rgb(0, 211, 211);
    text-decoration:none;
    margin-top:auto;
    margin-bottom: auto;
}

.becomeFamily{
    display: flex;
    align-items: center;
}

.becomeFamilyImg1{
    width: 220px;
}
.becomeFamilyImg2{
    width: 220px;
}
.becomeFamily div:nth-child(1){
    width: 250px;
    margin-left: auto;
    margin-right:auto;
}
.becomeFamilyText p br:first-child{
    display: none;
}
@media(max-height:1300px){
    .heroSection{
        background-size: auto 80vh;
        background-position-y: bottom;
        height: 80vh;
    }
}
@media(max-width:1023px){
    .ourDream h1:nth-child(2){
       font-size: 28px;
    }
    .ourDream p{
        font-size: 21px;
    }
    .aboutUs br, .ourDream br {
        display: none;
    }
    .aboutUs{
        height: auto;
    }
    .aboutUsBgImage {
        height: auto;
        background-size:0vw;
    }
    .aboutUsText{
        color: rgb(0, 0, 0);
        font-size: 16px;
        margin-top:0px;
        font-family: 'Open Sans';
        font-weight: 500;
        text-align: left;
        position: relative;
        line-height:normal;
    }
    .aboutUsText > p{
        text-align: justify;
    }
    .aboutUsTextContainer{
        background-color: transparent;
        font-size: 20px;
        margin-top:40px;
        width: 100%;
        height:auto;
        box-shadow: unset;
        margin-top:0;
    }
    .ourDream h1:nth-child(1){
        font-size: 16px;
        font-weight: bolder;
        font-style: italic;
        border-left: 15px solid #FFDE17;
        padding-left: 15px;
        margin: 20px 20px 60px 24px;
    }
    .ourDreamImg{
        height: 218px;
    }
    .ourDreamImg img{
        width: 250px;
    }
    .ourDreamImg div{
        font-size:18px;
        margin-bottom: -50px;
    }
    .ourDreamImages{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .becomeFamilyContainer{
        flex-direction: column;
        align-items: inherit;
        margin: 0 10px;
        margin-bottom: 5vh;
    }
    .becomeFamily{
        display: flex;
        align-items: center;
    }
    .becomeFamilyHead {
        width: 100vw;
        text-align: center;
        font-size: 20px;
    }
    .becomeFamily div:nth-child(1){
        width: auto;
        margin-left: auto;
        margin-right:auto;
    }
    .becomeFamilyImg2{
        width: 140px;
        margin-right: auto;
        margin-left: auto;
    }
    .figuresContainer > div{
        padding: 35px 0;
    }
    .figure{
        padding: 0 !important;
    }
    .heroSection{
        display: block;
        height: 36vh;
        background-image: url('../../WebsiteMaterial/AboutImages/Global.png');
        background-size: 70vw auto;
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: 72px;
     }
    .heroText{
        margin-top: -20px;
        margin-left:20px;
        padding-top: 55px;
    }
    .heroText span{
        font-size:20px;
    }
    .heroText p{
        font-size: 15px;
        margin-top: 8px;
    }
    .aboutUsContainer{
        padding-top: 0;
    }
    .becomeFamilyImg1{
        width: 204px;
    }
    .becomeFamilyText{
        font-size: 15px;
    }
    .becomeFamilyText p br:first-child{
        display: inline;
    }
 }