.filters-section-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 40px;
    height: 1200px;
    margin-bottom: 75px;
}
.filter-section{
    padding: 0 35px;
    border-right: 2px solid #D6D6D6;
}
.filter-results{
    margin-left: 40px;
    margin-right: 25px;
    overflow-x: hidden;
    overflow-y: auto;
}
.filter-results-properties{
    grid-template-columns: 2fr 1fr;
    row-gap: 5px;
}
.filter-results-properties > span:nth-child(3),.filter-results-properties > span:nth-child(4){
    font-size: 15px;
}
.filter-options{
    font-family: Open Sans;
    font-style: normal;
    color: #000000;
}
.Filters{
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}
.options-container >p{
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 8px;
}
.options-container:last-child{
    margin-top: 35px;
}
.options-container > div > label{
    font-weight: 400;
    vertical-align: top;
    margin-left: 10px;
}
.filter-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 35px;
}
.filter-cards > .card-container:last-child{
    margin-right: 15px;
}
.options-container > div > input[type="radio"]:checked {
    background-color: #A00500;
    border: 2px solid #A00500;
}
.filter-mobile{
    display: none;
}
@media(max-width:1023px){
    .filters-section-container{
        height: inherit;
        display: block;
        margin-top: 20px;
    }
    .filter-section{
       padding: 0;
    }
   
    .filter-mobile i{
        font-size: 20px;
    }
   
    .Filters p{
        text-align: end;
        padding: 0 10px;
    }
    .filter-options{
        display: none;
    }
    .filter-results{
        margin: 0;
    }
    .filter-cards{
        display: block;
    }
    .filter-cards > .card-container:last-child{
        margin: 0;
    }
}