.heroContainer{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
}

.whyQuickStay{
    width: 55vw;
}
.whyQuickStay h2{
    margin-left:40px;
}
.listHere p:nth-child(1){
    margin-left: 40px;
    font-size:25px;
    font-weight: 600;
    margin-bottom: 0px;
}
.listHere p:nth-child(2){
    margin-left: 40px;
    color: turquoise;
}
.whyListHere{
    margin-bottom:40px;
}
.whyListHere p{
    margin-left: 40px;
    font-size:20px;
    font-weight: 600;
}
.listingPropertyDetails{
    width: 45vw;
    padding-left: 3vw;
    padding-top:120px;
    box-shadow: 0px 1.5px 3px rgb(0 0 0 / 25%);
}
.listingPropertyDetails input{
    display: block;
    height: 40px;
    width: 95%;
    margin-bottom: 10px;
    font-style: italic;
    border: 1px solid  #80808066;
    border-radius: 3px;
    padding: 0px 12px;
}
.imageLabels{
    display: flex;
    justify-content: space-evenly;
    margin-top:-80px;

}
.imageLabels{
    margin-right:15px;
    font-size: 12px;
    font-weight: 600;
}
.imageLabels div{
    text-align: center;
}
.figuresContainer{
    width: auto;
}
.listHere img{
    margin-top: -70px;
    width: 100%;
}
.propertyType, .propertyFor{
    display: flex;
    justify-content: space-around;
}
.propertyType div{
    background-color: #80808066;
    border-radius: 20px;
    width: 30%;
    text-align: center;
    padding:5px 0px;
    cursor: pointer;
}

.select-property{
    background-color: #A00500 !important;
    color: white;
}

.propertyFor div{
    background-color: #80808066;
    border-radius: 20px;
    width: 18%;
    text-align: center;
    padding:5px 0px;
}

.submitButton{
    font-size: 20px;
    color: white;
    padding: 11px 65px;
    background-color: #A00500;
    border: none;
    border-radius: 5px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top:100px;
}

.Find p:first-child{
    display: none;
}
.Find{
    margin:0;
    padding-top:50px;
}
.figures2{
    display: none;
}
.whyListHereImg {
    width: 90%;
    display: table;
    margin-left: auto;
    margin-top: -70px;
    margin-right: auto;
}

@media(max-width:1023px){
    .figures1{
        display: none;
    }
    .figures2{
        display: block;
    }
    .heroContainer{
        flex-direction: column;
        margin-top: 30px;
    }
    .whyQuickStay{
        width: 100vw;
    }
    .listingPropertyDetails{
        width: 85vw;
        padding-top:0px;
        margin-left: auto;
        margin-right: auto;
        box-shadow:none;
    }
    .listingPropertyDetails input {
        height: auto;
        padding: 6px 9px;
        font-size: 11px;
        border-radius: 5px;
    }
    .listingPropertyDetails > p{
        font-size: 14px;
        margin: 18px 0;
    }
    .listHere img {
        margin-top: -35px;
        margin-left: -10px;
        margin-bottom: -35px;
        width: 111%;
    }
   
    .imageLabels  {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .imageLabels div{
        font-size: 7.65px;
        margin: 0;
    }
    .propertyType, .propertyFor{
        font-size:10px;
        column-gap: 8px;
    }
    .propertyType{
        margin-top:15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr;
    }
    .propertyFor{
        margin-top:15px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .propertyFor div, .propertyType div{
        width: 100%;
        font-size: 10px;
    }
    .submitButton {
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 8px 56px;
        border-radius: 4px
    }
    .figure{
        padding: 0px 0px 35px;
    }
    .figure:nth-child(3) p, .figure:nth-child(4) p{
        margin-top:0px;
    }
    .listHere{
        padding: 0 30px;
        margin-bottom: 25px;
    }
    .listHere h2{
        font-size:12px;
    }
    .listHere p:nth-child(1) {
        font-size: 14px;
        margin: 0;
    }
    .listHere p:nth-child(2) {
        font-size: 12px;
        margin-left: 0;
    }
    .whyListHere{
        padding: 0 30px;
    }
    .whyListHere p {
        font-size: 12px;
       margin: 0;

    }
    .whyListHereImg{
        width: 110%;
        margin: 0;
        margin-left: -15px;
        margin-top: -12px;
        margin-bottom: -22px;
    }
    .propertyTypeOptions, .propertyForOptions{
        display: flex;
        justify-content: space-between;
    }
    .propertyForOptions div{
        width: 23%;
    }
}