.description{
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
.description h2{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
    border-left: solid 12px #FFDE17;
    padding-left: 15px;
}
.description p{
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans';
    margin: 0;
    padding-left: 20px;
    line-height: 25px;
}
@media(max-width:1023px){
    .description{
        padding: 0;
    }
    .description p{
        font-size: 16px;
    }
}