.description{
    display: flex;
    flex-direction: column;
}
.description h2{
    font-family: 'Montserrat';
    border-left: solid 12px yellow;
    padding-left: 15px;
}
.description p{
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans';
    margin: 0;
    padding-left: 20px;
}