.template{
    display: flex;
}
.template > div img{
    width: 100%;
}
.template > div p{
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 0;
}