.template{
    display: flex;
}
.template > div img{
    width: 100%;
}
.template > div p{
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: bold;
    margin: 0;
}
@media(max-width:1023px){
    .template{
        display: grid !important;
        grid-template-columns: auto auto auto;
        column-gap: 0px;
        overflow-x: auto;
    }
    .template > div{
        align-self: end;
    }
    .template > div p{
        font-size: 12px;
    }
}