.pagenotfound{
    background-image: url("../../WebsiteMaterial/404/404_bg.svg");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
}
.pagenotfound > img{
    width: 46%;
}
.pagenotfound > div{
    position: absolute;
    bottom: 18px;
}
@media(max-width:1023px){
    .pagenotfound{
        height: 100vh;
    }
    .pagenotfound > img{
        width: 100%;
    }
    .pagenotfound > div{
        bottom: 18%;
    }
}