.pagenotfound{
    background-image: url("../../WebsiteMaterial/404/404_bg.svg");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.pagenotfound > img{
    width: 55%;
}
.pagenotfound > div{
    position: absolute;
    bottom: 18px;
}