.locations > div:nth-child(1){
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    padding: 0px 20px;
    box-sizing: border-box;
}
.locations > div:nth-child(1) div{
    font-family: Open Sans;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    padding: 20px;
}
.locations > div:nth-child(3){
    display: none;
}
.locations > div:nth-child(1) div a:hover{
    color: #00C2FF;
}
.locations > div:nth-child(1) div a{
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}
@media(max-width:1023px){
    .accordion{
        border-top: none;
    }
    .accordion__button{
        background-color: #ffff!important;
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        font-size: 13px;
        color: #000000;
        position: relative;
        width: inherit;
    }
    .accordion__button::before{
        position: absolute;
        right: 10px;
        top: 22px;
    }
    .accordion__panel{
        padding: 0 20px;
    }
    .locations{
        display: block;
    }
    .locations > div:nth-child(1),.locations > div:nth-child(2){
        display: none;
    }
    .locations > div:nth-child(3){
        display: inline-block;
        width: 100%;
        padding-bottom: 15px;
    }
}