@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}
.logo{
  margin-left:35px;
}
.logo img{
  width: 125px;
  height: 50px;
}
.custom-navbar{
  padding: 10px 20px;
}
.custom-menubutton{
  visibility: hidden;
}
.desktop-menu{
  display: flex;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
}
.desktop-menu div a{ 
  text-decoration: none;
  color: #000000;
}

.desktop-menu div:nth-child(7) a{
  padding: 3px 15px;
  border: 2px solid #A00500;
}

.active{
  padding: 3px 1px;
  border: 1.5px solid #A00500;
  border-width: 0px 0px 2px 0px;
}
.desktop-menu div:nth-child(5){
  background: #a00500;
  padding: 4px 14px;
  box-sizing: border-box;
  border-radius: 20px;
}
.desktop-menu div:nth-child(5) > a{
  color: #ffff;
}
.desktop-menu div:nth-child(6){
  display: none;
}
.desktop-menu div:not(:last-child){
  margin-right: 30px;
}
.user-profile{
  color: white;
  background: #a00500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 18px;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
.react-tiny-popover-container{
  z-index: 100;
}
.popover-content{
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 20px;
  font-weight: 600;
}

.home_menu .bm-burger-button{
  display: none;
}

@media(max-width:1023px){
  .logo{
    margin-left:0px;
  }
  .custom-menubutton{
    visibility: visible;
  }
  .desktop-menu,.user-profile{
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }
  .logo img{
    width: 125px;
    height: 50px;
  }
  .custom-navbar{
    padding: 4.5px 8px;
  }
  .home_menu .bm-burger-button{
    display: block;
  }
  .home_menu .bm-burger-button{
    top: 18px;
  }
}