.amountcards{
    border: 1px solid #A00500;
    border-radius: 8px;
    padding: 10px;
    font-family: Open Sans;
    font-style: normal;
    cursor: pointer;
}
.card-tag{
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    align-items: center;
}
.card-tag > div{
    background: #FFDE17;    
    border-radius: 3px;
    padding: 2px 12px;
    font-weight: 600;
}
.card-tag input{
    border: 2px solid #00C2FF;
    margin: 0;
}
.card-tag input[type="radio"]:checked {
    background-color: #00C2FF;
    border: 2px solid #00C2FF;
  }
.card-amount span:nth-child(1){
    font-weight: 600;
    font-size: 24px;
}
.card-amount span:last-child{
    font-size: 10px;
    font-weight: 600;
}
.card-amount{
    padding-top: 5px;
}
@media(max-width:1023px){
    .amountcards{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 85%;
    }
}