.chooseamount{
    font-family: Open Sans;
    font-style: normal;
    display: grid;
    grid-template-columns: 4fr 1fr;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 30px 30px;
    padding: 20px 50px;
    justify-content: space-around;
    box-sizing: border-box;
    transition: none!important;
}
.amountcards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}
.choose-plan-buttons{
    align-self: center;
    justify-self: center;
}
.invalid_plan{
    border-color: red;
}
.choose-plan-buttons button:nth-child(1){
    display: block;
    color: white;
    cursor: pointer;
    padding: 8px 0;
    font-weight: 600;
    font-size: 14px;
    background: #A00500;
    border: none;
    border-radius: 4px;
    width: 200px;
}
.choose-plan-buttons button:last-child{
    border: 1px solid #A00500;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 0;
    background-color: white;
    width: 200px;
    margin-top: 10px;
}
.choose-plan-buttons button:last-child a{
    color: #A00500;
    text-decoration: none;
}
@media(max-width:1023px){
    @keyframes slideup {
        0% { transform: translateY(200px); }
        100% { transform: translateY(0px); }
    }
  .chooseamount{
      animation: slideup 0.5s;
      grid-template-columns: auto;
      padding: 15px;
      row-gap: 15px;
      background: white;
      position: fixed;
      bottom: 0;
      z-index: 5;  
      left: 0;
      border-radius: 0;
      right: 0;
  }
  .amountcards-container{
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      flex-wrap: nowrap;
      justify-content: start;
      column-gap: 10px;
  }
}