.row{
    display: flex;
    margin-left: 50px;
}
.fa-map-marker-alt{
    margin-right: 5px;
}
.card-container{
    display: flex;
    flex-direction: column;
}
@media(min-width:1024px){
    .card-container:not(:last-child){
        margin-right: 15px;
    }
}
.card-container > a >img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.room-details{
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #e8e8e4;
    border-top: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'name amount'
                          'location image'
                          'type image';
    padding: 25px 10px;
    box-shadow: 0px 5px 2px #e8e8e4;
}
.room-details span{
    font-family: 'Open Sans';
    font-style: normal;
    display: flex;
    align-items: center;
}

.room-details > span:nth-child(1){
    grid-area: name;
    font-weight: 600;
    font-size: 18px;
}
.room-details > span:nth-child(2){
    grid-area: amount;
    font-weight: 600;
    justify-self: center;
    font-size: 18px;
    font-family: 'Open Sans';
    font-style: normal;
}
.room-details > span:nth-child(3){
    grid-area: location;
    font-size: 16px;
}
.room-details > span:nth-child(4){
    grid-area: type;
    font-size: 16px;
}
.room-details > span:nth-child(5) {
    grid-area: image;
    justify-content: center;
}
.room-details span img{
    width: 70%;
}

@media(max-width:1023px){
    .row{
        margin-left: 0px;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .card-container{
        max-width: 100%;
        padding: .75rem;
        margin-bottom: 2rem;
        border: 0;
        flex-basis: 86%;
        flex-grow: 0;
        flex-shrink: 0;
    }
}