.exclusive{
    font-family: 'Open Sans';
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr 3fr;
    padding: 30px 15px;
    padding-top: 0;
}
.exclusive > a {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    color: #A00500;
    text-decoration: none;
    grid-column: span 3;
    justify-self: end;
}
@media(max-width:1023px){
    .exclusive{
        padding-top: 30px;
    }
    .exclusive,.card,.blogs{
        display: block;
    }
    .card,.card-container{
        margin: 0px;
    }
    .card{
        margin-top: 10px;
    }
    .card-container:not(:last-child){
        margin-bottom: 15px;
    }
}