@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,300;1,600&display=swap');
body{
    margin: 0;
    scroll-behavior: smooth;  
    font-family: Open Sans;
    font-style: normal;
}
#root{
    overflow-x: hidden;
    position: relative;
}
@media(max-width:1023px){
    .favouritestays,.template,.whystay{
        display: block !important;
    }
}